/* ----Common Css---- */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: space-between;
}
/* Navbar Part Css */
#navbar {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.logo {
  width: 20%;
  padding-top: 30px;
}
.menu {
  width: 80%;
}
.menu ul {
  text-align: right;
}
.menu ul li {
  display: inline-block;
  padding-top: 36px;
  padding-bottom: 36px;
}
.menu ul li a {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding-right: 20px;
  padding-left: 20px;
}
.menu ul li:last-child a {
  padding-right: 0;
}
/* banner part css */
#banner {
  background: url(../image/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 330px;
  padding-bottom: 252px;
}
.banner-contanier {
  text-align: center;
}
.banner-contanier h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 0.8;
  margin-bottom: 4px;
}
.banner-contanier h2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.banner-contanier p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
/* ----service Part css----  */
#service {
  padding-top: 75px;
  padding-bottom: 83px;
  background-color: #f9f9f0;
}
.service-header {
  text-align: center;
}
.service-header h2 {
  color: #444;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}
.service-header p {
  color: #666666;
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
/* ----service end css----  */
/* ----service Part css----  */
/* ----service Part css----  */
