/* ----Common Css---- */
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
.main {
  display: flex;
  justify-content: space-between;
}
/* Navbar Part Css */
#navbar {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.logo {
  width: 20%;
  padding-top: 30px;
}
.menu {
  width: 80%;
}
.menu ul {
  text-align: right;
}
.menu ul li {
  display: inline-block;
  padding-top: 36px;
  padding-bottom: 36px;
}
.menu ul li a {
  text-transform: uppercase;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: 700;
  padding-right: 20px;
  padding-left: 20px;
}
.menu ul li:last-child a {
  padding-right: 0;
}
/* banner part css */
#banner {
  background: url(../image/banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 330px;
  padding-bottom: 252px;
}
.banner-contanier {
  text-align: center;
}
.banner-contanier h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 0.8;
  margin-bottom: 4px;
}
.banner-contanier h2 {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.banner-contanier p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}
/* ----service Part css----  */
#service {
  padding-top: 75px;
  padding-bottom: 83px;
  background-color: #f9f9f0;
}
.service-header {
  text-align: center;
}
.service-header h2 {
  color: #444;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 20px;
}
.service-header p {
  color: #666666;
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.service-body {
  margin-top: 27px;
}
.service-main {
  padding-top: 71px;
}
.header {
  text-align: center;
}
.header h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #444;
}
.service-item {
  width: 370px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  padding: 15px 15px 25px 15px;
  box-sizing: border-box;
}
.service-item img {
  display: block;
}
.service-text {
  text-align: center;
  padding-top: 25px;
}
.service-item h3 {
  font-family: "Roboto Slab", serif;
  font-size: 17px;
  font-weight: 700;
  color: #444;
}
.service-item p {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #666;
  padding-top: 8px;
  line-height: 22px;
}
/* ----service end css----  */
/* ----shots Part css----  */
#shots {
  padding-top: 41px;
  padding-bottom: 42px;
  background-color: #2c2c2c;
}
.shots-text {
  text-align: center;
}
.shots-text h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #d5d5d5;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
.shots-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -115px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #535353;
}
.shots-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -115px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #535353;
}
.shots-body {
  padding-top: 42px;
}
.main-2 {
  display: flex;
}
.shots-item {
  width: 25%;
}
.shots-item img {
  display: block;
  width: 100%;
}

.instagram-buttom {
  text-align: center;
  padding-top: 66px;
}
.instagram-buttom a {
  color: #a6a6a6;
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 18px;
  border: 1px solid #a6a6a6;
}
/* ----shots css end----  */
/* ----journal Part css start----  */
#journal {
  padding-top: 71px;
}
#journal .shots-text h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
#journal.shots-text h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -115px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #d9d9d9;
}
#journal.shots-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -115px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #d9d9d9;
}
.journal-wrapper {
  padding-top: 24px;
}
.othermain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 19px;
}
.journal-item {
  width: 370px;
  border: 1px solid #e3e3e3;
}
.j-head h3 {
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 700;
  color: #444444;
  padding-top: 21px;
}
.j-head p {
  text-align: center;
  font-family: "Roboto ", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  padding-top: 12px;
  padding-bottom: 20px;
}

.j-img img {
  width: 100%;
}
.j-content {
  padding: 25px;
}
.j-content p {
  color: #666666;
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.left a {
  color: #999;
  font-family: "Roboto ", sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
}
.left a:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 109px;
  height: 2px;
  background-color: #28b8d8;
  font-size: 11px;
}
.right i {
  font-size: 11px;
}

.right span {
  font-family: "Roboto ", sans-serif;
  font-size: 11px;
}

/* ----journal Part css end----  */
/* ----Protfolio Part css start----  */
#protfoiio {
  padding-top: 80px;
  padding-bottom: 80px;
}

.port-left {
  width: 570px;
}
.port-right {
  width: 570px;
}
#protfoiio .shots-text {
  text-align: left;
  padding-bottom: 25px;
}
#protfoiio .shots-text h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #444444;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}
#protfoiio.shots-text h3::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -115px;
  transform: translateY(-50%);
  width: 100px;
  height: 1px;
  background-color: #535353;
}
#protfoiio .shots-text h3::after {
  display: none;
}
.port-img {
  width: 197px;
}
.port-img img {
  display: block;
}
.port-text {
  width: 346px;
}
.port-text h5 {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
  color: #666666;
  line-height: 0.8;
  line-height: 28px;
  padding-bottom: 24px;
}
.port-text p {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
  line-height: 24px;
}
.port-icon {
  width: 47px;
}
.port-icon-text {
  width: 500px;
}
.port-icon-row {
  padding-bottom: 20px;
}
.port-icon-row h4 {
  font-family: "Roboto Slab", serif;
  font-size: 17px;
  font-weight: 700;
  color: #444444;
  padding-bottom: 14px;
  line-height: 0.8;
  line-height: 22px;
}
.port-icon-row p {
  font-family: "Roboto ", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  line-height: 0.8;
  line-height: 22px;
}
/* ----Protfolio Part css end----  */
/* ----footer Part css start----  */
#footer {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #373737;
}
.footer-item {
  text-align: left;
}
.footer1 {
  width: 255px;
}
#footer h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #f0f0f0;
  text-transform: uppercase;
}
#footer p {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 0.8px;
  line-height: 22px;
  color: #cacaca;
}
.main-f {
  display: flex;
}
.footer1-wapper {
  padding-top: 26px;
}
.footer-icon {
  width: 13px;
}
.footer-icon img {
  display: block;
  padding-top: 6px;
}
#footer .iner-text {
  padding-top: 10px;
}
.footer-text {
  width: 178px;
  padding-left: 15px;
}
.footer-text p {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #cacaca;
  line-height: 0.8px;
  padding-top: 0;
}
.footer2 {
  width: 224px;
}
.footer2 .text-1 {
  padding-bottom: 22px;
}

.footer3 {
  width: 206px;
}
#footer .text {
  padding-bottom: 22px;
}
#footer .text span {
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #929292;
}
.footer4 {
  width: 240px;
}
.footer4 p {
  padding-bottom: 25px;
}
footer {
  background-color: #333333;
}
footer p {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Roboto ", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #cacaca;
}

/* ----footer Part css end----  */
